@import '../user-variables';

.video-control-main {
  padding: 20px;

  .main-video {
    width: 100%;
    border: 1px solid $color-grey-f0;
    height: 520px;
    @media screen and (max-width: 768px) {
      height: auto;
    }
    @media all and (display-mode: fullscreen) {
      border: none;
    }
  }
}

.video-controls-desc-main {
  .past-issues-title {
    margin: 10px 0px;
    padding: 0px 12px;
    color: $user-top-nav-color;
    font-size: 16px;
    line-height: 30px;
    // width: calc(100% - 350px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .past-issues-video-length {
    margin: 10px 0px;
    padding: 0px 12px;
    color: $color-grey-f0;
    font-size: 16px;
    line-height: 30px;
  }
}

.video-list {
  height: calc(100vh - 145px);

  h3 {
    margin: 0px;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;
    color: $user-top-nav-color;
  }

  .video-card {
    display: flex;
    align-items: center;
    background-color: $color-blue-1;
    margin-bottom: 20px;

    &:hover {
      background-color: $color-blue-2;
    }

    video {
      width: 180px;
    }

    .video-desc {
      padding: 10px 20px;

      .video-title {
                     margin: 0;
                     color: $user-top-nav-color;
                     font-size: 14px;
                     line-height: 24px;
                     padding-bottom: 5px;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     display: -webkit-box;
                     -webkit-line-clamp: 2;
                     -webkit-box-orient: vertical;
                     }

    }

    a {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .playlist-item {
    border: 1px solid $color-grey-f0;
  }

  @media screen and (max-width: 991px) {
    height: auto;
  }
}

.no-videos {
 text-align: center;
  vertical-align: top;
  margin: 15px auto;
}

/*** spinner ***/
.lds-roller {
  text-align: center;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 60px auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #cef;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
