<div id="video-player" class="video-control-main">
  <div class="clr-row">
    <div *ngIf="selectedVideoLoaded; else noSelectedVideo"
         class="video-main clr-col-xl-8 clr-col-lg-7 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
      <video
        poster="{{selectedVideo.thumbnail}}"
        id='videoPlayer'
        class="main-video"
        controls="controls"
        width="100%"
        preload="auto"
        *ngIf="selectedVideo?.videoUrl"
      >
        <source [src]="selectedVideo.videoUrl" type="video/mp4">
      </video>
      <div class="clr-row video-controls-desc-main">
        <p class="past-issues-title">{{selectedVideo?.title}}</p>
      </div>

    </div>
    <div class="video-list clr-col-xl-4 clr-col-lg-5 clr-col-md-12 clr-col-sm-12 clr-col-xs-12 scroll-bar-y">

      <h3>Previous Videos</h3>
      <div *ngIf="allVideosLoaded; else noVideos">
        <div class="video-card" id="{{video.divID}}" *ngFor="let video of allVideos;">
          <a (click)="newVideoWatch(video)">
            <video width="100%" poster="{{video.thumbnail}}" preload="metadata">
              <source [src]="video.videoUrl" type="video/mp4">
            </video>
            <div class="video-desc">
              <p class="video-title">{{video?.title}}</p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #noSelectedVideo>
  <div class="no-videos">
    No video has been selected.
  </div>
</ng-template>

<ng-template #noVideos>
  <div class="no-videos">
    There are currently no videos to display.

  <!-- begin spinner-->
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <!-- end spinner-->

  </div>
</ng-template>
