@import '../../app.variables.scss';

.admin-top-nav {
    height: $admin-top-nav-height;
    background-color: $ootw-primary-bg;
    color: $admin-home-primary-font;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $admin-top-nav-font;
    padding: 0 8px;
}

.view-site {
    display: flex;
    margin-left: 10px;
    a {
      font-size: calc(#{$admin-top-nav-height}/3.5);
      color: #fff;
      text-decoration: none;
    }
}

.admin-content {
    height: calc(100vh - #{$admin-top-nav-height});
    display: flex;
    .admin-side-nav {
        width: $admin-side-nav-width;
        background-color: $ootw-primary-bg;
        color: $admin-home-primary-font;
    }
    .admin-home-content {
        width: calc(100vw - #{$admin-side-nav-width});
        padding: 5px;
    }
}
