
input#input-title {
  width: 100%;
}

.clr-form-control {
    margin-top: 8px;
}

.error-class {
  color: red;
  font-size: 14px;
}

.success-class {
  color: green;
  font-size: 14px;
}

.uploading-class {
  color: blue;
  font-size: 14px;
}
