<div class="clr-row">

  <form clrForm clrLayout="horizontal" clrLabelSize="4">

      <div class="clr-col-12">
          <clr-date-container>
              <label class="clr-col-12 clr-col-md-1">Date:</label>
              <input [(ngModel)]="date" (clrDateChange)="submitReset()"
                     clrDate
                     class="clr-col-12 clr-col-md-11"
                     name="date"
                     type="date"
                     required>
          </clr-date-container>
      </div>

    <div class="clr-col-12">
      <clr-input-container>
        <label class="clr-col-12 clr-col-md-1">Title:</label>
        <input [(ngModel)]="title"
               clrInput
               id="input-title"
               class="clr-col-12 clr-col-md-11"
               name="title"
               placeholder="Title"
               type="text">
      </clr-input-container>
    </div>

    <div class="clr-col-12">
      <clr-input-container>
        <label class="clr-col-12 clr-col-md-1">File:</label>
        <input (change)="onFileSelect($event)"
               accept="video/mp4,video/x-m4v,video/mov,video/*"
               clrInput
               class="clr-col-12 clr-col-md-11"
               name="video"
               type="file"
               required>
      </clr-input-container>

    </div>

    <div class="clr-col-12">
      <clr-checkbox-wrapper>
        <input [(ngModel)]="isActive" (ngModelChange)="submitReset()"
          type="checkbox"
          name="active"
          clrCheckbox>

        <label>Active</label>
      </clr-checkbox-wrapper>
    </div>

    <div class="clr-col-12">

        <cds-button (click)="submit()"
          loadingState="{{loadingState}}"
          status="{{btnStatus}}"
          class="clr-float-sm-right"
          type="submit"
          >Upload</cds-button>

    </div>

    <div class="clr-col-12">
        <span class="error-class" *ngIf="isRequired">
            Please choose both date and file then click submit
        </span>
      <span [ngClass]="message.class">{{message.text}}</span>
    </div>

  </form>

</div>
