@import "../user-variables";
.globe-swathe {
  //background: url(../../../assets/img/earthwithswathe.png) no-repeat 0 0;
  padding-left: 20px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (max-width: 575px) {
    display: none;
  }

}

.about-us-main {
    h1 {
        font-size: 26px;
        line-height: 36px;
        color: $color-gold-1;
        text-align: center;
        padding-bottom: 20px;
        font-weight: 500;
    }




    @media screen and (max-width: 575px) {
        padding: 0px 20px;
    }
}
.about-card {
    padding: 0px 20px;
    .clr-row {
        display: flex;
        align-items: center;
    }
    .blue-bg1 {
        background-color: $color-blue-1;
    }
    .blue-bg2 {
        background-color: $color-blue-2;
        @media screen and (max-width: 575px) {
            flex-direction: column-reverse;
        }
    }
    .about-image {
        padding: 0px;
        img {
            width: 100%;
        }
    }

    .about-intro {
        font-size: 16px;
        color: $color-gold-1;
    }

    .about-description p {
        margin: 0px;
        padding: 16px 10px;
        font-size: 14px;
        line-height: 26px;
        color: $color-grey-d5;
        .designation {
            font-weight: bold;
        }
    }

}
.mb-30 {
    margin-bottom: 30px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .about-us-main {
        padding: 0px 50px;
    }
    .clr-row {
        position: relative;
        img {
            width: 150px !important;
            height: auto;
            display: flex;
            justify-content: flex-start;
            position: absolute;
            top: 20px;
        }
    }
    .blue-bg1 .about-image img {
        left: 20px;
    }
    .blue-bg2 .about-image img {
        right: 20px;
    }
    .blue-bg1,
    .blue-bg2 {
        min-height: 220px;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .blue-bg1, .blue-bg2 {
        min-height: 180px;
        .clr-col-md-4 {
            width: 150px;
            max-width: 150px;
        }
        .clr-col-md-8 {
            width: calc(100% - 150px);
            max-width: calc(100% - 150px);
            flex-basis: calc(100% - 150px);
        }
    }
}
