<!--<div class="globe-swathe">-->
<!--  <img src="../../../assets/img/earthwithswathe.png" border="1" alt="" height="150" />-->
<!--</div>-->

<div class="about-us-main">
    <h1>About Us</h1>

    <div class="clr-row about-card">
        <div class="clr-col-xl-8 clr-col-lg-10 clr-col-md-10 clr-col-sm-12 clr-offset-xl-2 clr-offset-lg-1 clr-offset-md-1 clr-offset-sm-0">

            <div class="clr-row mb-30 about-intro">
              This site is a series of episodes, including initial contacts with Srila Prabhupada and interesting stories, stories that should not be forgotten.
            </div>

            <div class="clr-row mb-30 about-intro">
              Here is the team who brings you these stories:
            </div>

          <div class="clr-row mb-30 about-">

          </div>

            <div class="clr-row blue-bg1 mb-30">
                <div class="clr-col-md-4 clr-col-lg-2 clr-col-sm-4 clr-col-xs-12 about-image">
                    <img title="Mukunda Goswami" alt="Mukunda Goswami"
                         src="../../../assets/img/team/MukundaGoswami.png" />
                </div>
                <div class="clr-col-md-8 clr-col-lg-10 clr-col-sm-8 clr-col-xs-12 about-description">
                    <p><span class="designation">Founder: </span>
                      Mukunda Goswami was a pioneer in the early days of the Hare Krishna movement. In 1966 in New York City he helped Bhaktivedanta Swami rent a storefront for the first Hare Krishna temple. In 1967 he founded the first Hare Krishna temple in San Francisco and organized a major music event, the Mantra-Rock Dance.
                    </p>
                </div>
            </div>

          <div class="clr-row blue-bg2 mb-30">
            <div class="clr-col-md-8 clr-col-lg-10 clr-col-sm-8 clr-col-xs-12 about-description">
              <p><span class="designation">Videographer & Consultant: </span>
                Lila Dasi (Krisztina Danka) is a filmmaker, scholar and activist. She possesses a Ph.D. in
                Comparative Literature from the University of Budapest; studied Screenwriting at New York University,
                and Documentary Filmmaking at the New York Film Academy. She is the Executive Director of Karuna
                Productions. She is the producer-director of over 50 documentaries and videos. Her films related to
                spiritual, environmental and human rights issues have won several awards, and been distributed in movie
                theaters, television and streaming channels worldwide.
              </p>
            </div>
            <div class="clr-col-md-4 clr-col-lg-2 clr-col-sm-4 clr-col-xs-12 about-image">
              <img title="Krishna Lila Dasi" alt="Krishna Lila Dasi"
                   src="../../../assets/img/team/KrishnaLila.png"/>
            </div>

          </div>

          <div class="clr-row blue-bg1 mb-30">
            <div class="clr-col-md-4 clr-col-lg-2 clr-col-sm-4 clr-col-xs-12 about-image">
              <img title="Mark J. DeGasperi" alt="Mark J. DeGasperi"
                   src="../../../assets/img/team/MarkDeGasperi.png"/>
            </div>
            <div class="clr-col-md-8 clr-col-lg-10 clr-col-sm-8 clr-col-xs-12 about-description">
              <p><span class="designation">Writer, Story Consultant: </span>
                Mark Gasperi has been a professional story analyst and script doctor for several Hollywood studios such as Sony Pictures Entertainment Television, Tribeca Productions, and independent producers for many years. Previously, he has worked for Paramount Pictures, Universal Pictures, New Line Cinema, the William Morris Agency, Miramax, and others.
                <br/><br/>

                He teaches Advanced Television Writing and Advanced Screenwriting at New York University. He has
                received an NYU-SPS Award for Service.
              </p>
            </div>
          </div>

          <div class="clr-row blue-bg2 mb-30">
            <div class="clr-col-md-8 clr-col-lg-10 clr-col-sm-8 clr-col-xs-12 about-description">
              <p><span class="designation">Promotion & Marketing:</span>
                Vishnujan Das was born in Russia, and currently resides on the ISKCON New Govardhana Farm in Australia.
                He graduated from SAE Institute (Bachelor of Film Production). His short film “Smoked Marshmallow”
                received good responses from people all around the world. Vishnujan created a YouTube channel for the
                New Govardhana community and personally recorded, edited and uploaded more than 1000 videos for it. He
                currently studies electronic music production in the same SAE Institute, Byron Bay campus (Australia).
              </p>
            </div>
            <div class="clr-col-md-4 clr-col-lg-2 clr-col-sm-4 clr-col-xs-12 about-image">
              <img title="Vishnujan Das" alt="Vishnujan Das"
                   src="../../../assets/img/team/VishnujanDasa.jpg"/>
            </div>

          </div>

          <div class="clr-row blue-bg1 mb-30">

            <div class="clr-col-md-4 clr-col-lg-2 clr-col-sm-4 clr-col-xs-12 about-image">
              <img title="Ananta Vrindavana Dasa" alt="Ananta Vrindavana Dasa"
                   src="../../../assets/img/team/AnantaVrindavana.jpeg"/>
            </div>
            <div class="clr-col-md-8 clr-col-lg-10 clr-col-sm-8 clr-col-xs-12 about-description">
              <p><span class="designation">Photography & Videography:</span>
                Ananta Vrindavana is a Photographer & Videographer with 10 years of experience in capturing moments
                and creating content. Certified specialist in Photoshop and Lightroom and expert with all kinds of
                photography equipment. Specialising in Events, Wedding and Engagement and Photojournalism
                photography.<br/>
                "My whole philosophy is closely connected to my desire to create images and visions that are not only
                beautiful but those that are truly the essence of the reality around us."
              </p>
            </div>
          </div>

          <div class="clr-row blue-bg2 mb-30">
            <div class="clr-col-md-8 clr-col-lg-10 clr-col-sm-8 clr-col-xs-12 about-description">
              <p><span class="designation">Graphic Design: </span>
                Ramprasad worked at ABC Television (Australian Broadcasting Company), Australia Post and has displayed fine art in various galleries throughout Australia.
              </p>
            </div>
            <div class="clr-col-md-4 clr-col-lg-2 clr-col-sm-4 clr-col-xs-12 about-image">
              <img title="Ramprasad Dasa" alt="Ramprasad Dasa"
                   src="../../../assets/img/team/RamprasadDasa.png"/>
            </div>
          </div>


          <div class="clr-row blue-bg1 mb-30">
            <div class="clr-col-md-4 clr-col-lg-2 clr-col-sm-4 clr-col-xs-12 about-image">
              <img title="Partha Sarathi Devi Dasi" alt="Partha Sarathi Devi Dasi"
                   src="../../../assets/img/team/ParthaSarathiDeviDasi.jpg"/>
            </div>
            <div class="clr-col-md-8 clr-col-lg-10 clr-col-sm-8 clr-col-xs-12 about-description">
              <p><span class="designation">Researcher:</span>
                Parthasarathi joined ISKCON in 1994. She serves as a pujari, mother, and lifelong student of A.C Bhaktivedanta Swami’s literatures and enjoys studying the personalities from the <em>Srimad Bhagavatam</em> and <em>Caitanya Caritamrta</em>. She is currently completing her Masters of Education Thesis on the topic of "Aural Receptivity in Education."
              </p>
            </div>
          </div>


          <div class="clr-row blue-bg2 mb-30">
            <div class="clr-col-md-8 clr-col-lg-10 clr-col-sm-8 clr-col-xs-12 about-description">
              <p><span class="designation">Social Media Manager:</span>
                Tanu Rajni was born in Australia. She conducted a successful business, which she sold when she became a devotee. She has a Bachelor’s of Arts degree and has years of experience with Social Media, especially Instagram.
              </p>
            </div>
            <div class="clr-col-md-4 clr-col-lg-2 clr-col-sm-4 clr-col-xs-12 about-image">
              <img title="Tanurajni Devi Dasi" alt="Tanurajni Devi Dasi"
                   src="../../../assets/img/team/TanurajniDeviDasi.png"/>
            </div>
          </div>

            <div class="clr-row blue-bg1 mb-30">
              <div class="clr-col-md-4 clr-col-lg-2 clr-col-sm-4 clr-col-xs-12 about-image">
                <img title="Devaprastha Dasa" alt="Devaprastha Dasa"
                     src="../../../assets/img/team/Devaprastha.jpeg"/>
              </div>
              <div class="clr-col-md-8 clr-col-lg-10 clr-col-sm-8 clr-col-xs-12 about-description">
                    <p><span class="designation">Technical Manager:</span>
                      Devaprastha oversees the hosting and web application development for the site. He was an IT
                      Manager at Discovery Channel and at National Geographic. He has worked in the publishing and
                      music industries and is a software developer and systems administrator.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
