@import './app/app.variables.scss';
@import './app/user/user-variables';

.btn-primary {
  background-color: $ootw-primary-bg !important;
}

h2.h2-24 {
  font-size: 24px;
  line-height: 36px;
}

.white-ff {
  color: $user-top-nav-color;
}

.pull-right {
  float: right;
}

// scroll bar
.scroll-bar-y {
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: $color-lightgrey1;
    border-radius: 10px;
    background-color: $color-grey-f5;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: $color-grey-f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: $color-lightgrey1;
    background-color: $color-grey-55;
  }
}

.pointer {
  cursor: pointer;
}
