@import "./user-variables.scss";
.banner img {
  width: 100%;
}

.user-container {
    background-color: $user-background;
    height: 100vh;
    .user-top-nav {
        // height: $user-top-nav-height;
        // background-color: $user-top-nav-bg-color;
        color: $user-top-nav-color;
    }
    .user-router-outlet {
        height: calc(100vh - #{$user-top-nav-height});
        // background: url("../../assets/img/bg-banner.png") no-repeat fixed center;
        background-size: cover;
        position: relative;
        .user-body {
            background: $user-background;
            margin: 0;
            width: 100%;
            height: calc(100vh - #{$user-top-nav-height});
            top: #{$user-top-nav-height};
            left: 0px;
            position: fixed;
            overflow: scroll;
        }
        .user-footer {
            padding: 10px 0px;
            text-align: center;
        }
    }
}

.user-body-main {
    min-height: calc(100vh - 100px);
}
