$user-background: #000000;
//$user-top-nav-bg-color: #57964c;
$user-top-nav-bg-color: #193663;
$user-top-nav-color: #ffffff;

$color-black-80: rgba(0, 0, 0, 0.8);
$color-lightgrey1: inset 0 0 6px rgba(0, 0, 0, 0.3);
$color-grey-f5: #f5f5f5;
$color-grey-55: #555555;
$color-grey-f0: #F0F0F0;
$color-grey-d5: #d5d5d5;

$color-blue-1: rgba(2, 51, 115, 0.4);
$color-blue-2: rgba(3, 103, 166, 0.4);
$color-blue-3: rgba(226, 244, 255, 0.4);
$color-blue-4: #59A8D9;

$color-gold-1: #fac676;

$user-top-nav-height: 60px;
// $user-footer-height: 50px;
