<div class="user-container">
    <div class="user-top-nav">
        <app-top-nav></app-top-nav>
    </div>
    <div class="user-router-outlet scroll-bar-y">
        <div class="user-body">
          <div id="banner" class="banner">
            <img src="../../../assets/img/banner-1200x125.png" alt="Banner Image"/>
          </div>
            <div class="user-body-main">
                <router-outlet></router-outlet>
            </div>
            <div class="user-footer">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>
