<clr-datagrid *ngIf="videoList">
  <clr-dg-column>Active</clr-dg-column>
  <clr-dg-column>Date</clr-dg-column>
  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Video URL</clr-dg-column>
  <clr-dg-column>Thumbnail</clr-dg-column>
  <clr-dg-column>Action</clr-dg-column>

  <clr-dg-row *ngFor="let video of videoList">
    <clr-dg-cell>
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox name="active" [(ngModel)]="video.isActive"
               (click)="toggleActiveVideo(video)"/>
      </clr-checkbox-wrapper>
    </clr-dg-cell>

    <clr-dg-cell>{{video.dateString}}</clr-dg-cell>
    <clr-dg-cell>{{video.title}}</clr-dg-cell>
    <clr-dg-cell>{{video.videoUrl}}</clr-dg-cell>
    <clr-dg-cell>
      <clr-dg-cell *ngIf="video.thumbnail"><img [src]="video.thumbnail" height="55" /></clr-dg-cell>
    </clr-dg-cell>
    <clr-dg-cell>
      <cds-icon shape="trash" class="pointer" (click)="deleteVideo(video)"></cds-icon>
    </clr-dg-cell>
  </clr-dg-row>


  <clr-dg-footer>{{videoList!.length}} video{{videoList!.length > 1 ? 's' : ''}}</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="openModal">
  <h3 class="modal-title">Delete</h3>
  <div class="modal-body">
    <p>Are you sure, You want to delete?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="delete()">Ok</button>
  </div>
</clr-modal>
