@import '../../app.variables.scss';

.admin-nav-item {
    display: block;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px;
}

.admin-nav-active {
    background-color: $ootw-nav-active-bg;
    color: $admin-nav-item-active-font;
}