/***
.custom-spinner {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 999999;
    pointer-events: none;
    width: 7rem;
    background: url("../assets/img/spinner1.gif");
    height: 7rem;
}

.loading-main {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
}
***/
