$ootw-primary-bg: #18385e;
$admin-home-primary-font: #FFF;
$admin-nav-item-active-font: #666;
$admin-font-color: #000;
$ootw-nav-active-bg: #fff;

$error-message-color: red;
$success-message-color: green;
$uploading-message-color: blue;
$message-text-size: 14px;

$admin-title-font: 24px;
$login-title: 30px;
$admin-top-nav-font: 20px;
$admin-top-nav-height: 50px;
$admin-side-nav-width: 225px;
