<div class="ootw-admin-login-container">
    <div class="left-panel">
        <img src="assets/img/ootw.jpg" height="100%" width="100%">
    </div>
    <div class="right-panel">
        <span class="login-title">Login</span>
        <div class="form-content">
            <form clrForm clrLayout="vertical" [formGroup]="adminForm">
                <clr-input-container>
                    <label>Username:</label>
                    <input clrInput placeholder="" name="username" formControlName="username" />
                  </clr-input-container>
                  <clr-input-container>
                    <label>Password:</label>
                    <input type="password" clrInput placeholder="" name="password" formControlName="password" />
                  </clr-input-container>
                  <span class="error-class">{{errorMessage}}</span>
                  <button class="btn btn-primary float-right" (click)="login()">Submit</button>
            </form>
        </div>
    </div>
</div>
