@import '../../app.variables.scss';

.ootw-admin-login-container {
    height: 100vh;
    display: flex;
    .left-panel {
        width: 50%;
    }
    .right-panel {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .login-title {
            font-size: $login-title;
        }
        .form-content {
            width: 60%;
            .clr-form-control {
                align-items: unset;
            }
            input {
                width: 100%;
            }
        }
    }
}

.float-right {
    float: right;
}
