@import "../../user/user-variables";
.header-6 {
    background-color: $user-top-nav-bg-color;
    .title {
        font-size: 24px;
        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }
}
.menu-icon {
    display: none;
    padding: 15px;
    cursor: pointer;
    cds-icon {
        width: 28px;
        height: 28px;
    }
}

@media screen and (min-width: 769px) {
    .nav-menu-items {
        position: absolute;
        right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .close-icon {
        left: 300px;
        position: absolute;
        background: $user-background;
        border: 1px solid $color-grey-f5;
        top: 0px;
        width: 45px !important;
        height: 45px !important;
        padding: 6px;
    }
    .header-actions {
        height: 100vh;
        position: absolute;
        background: $user-background;
        width: 300px;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 0px;
        left: 0px;
    }
    .nav-menu-items {
        display: none;
    }
    .nav-open .nav-menu-items {
        display: block;
    }
}
