<header [ngClass]="[isMenuOpen ? 'nav-open': '', 'header-6']">
    <div class="menu-icon">
        <cds-icon shape="bars" (click)="isMenuOpen = true" *ngIf="!isMenuOpen"></cds-icon>
        <cds-icon class="close-icon" (click)="isMenuOpen = false" shape="times" *ngIf="isMenuOpen"></cds-icon>
    </div>
    <div class="branding">
      <span class="title">Out Of This World Studios</span>
    </div>
    <div class="nav-menu-items">
        <div class="header-actions">
            <a routerLink="/"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               class="nav-link nav-text">Home</a>
<!--            <a routerLink="/past-issues"-->
<!--               routerLinkActive="active"-->
<!--               [routerLinkActiveOptions]="{exact: true}"-->
<!--               class="nav-link nav-text">Past Issues</a>-->
            <a routerLink="/about-us"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               class="nav-link nav-text">About Us</a>
        </div>
    </div>
<!--  <div id="banner" class="banner">-->
<!--    <img src="../../../assets/img/banner-1200x125.png" alt="Banner Image"/>-->
<!--  </div>-->
</header>
